body {
  background-color: #77d2fc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.felicitacion-container {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #40bd44; 
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}
